:root {
    --hpSize: 50%;
    --hpRadius: 20px;
}

.selectBtn1,
.selectBtn2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hpBorder {
    height: 20px;
    width: var(--hpSize);
    border: 1px solid black;
    border-radius: var(--hpRadius);
}

.hp {
    height: 100%;
    border-radius: var(--hpRadius);
    background-color: red;
}

.pokemon div span {
    width: var(--hpSize);
    float: right;
}
